body{
    height: 100vh;
}

// ----------------------------- Headings -----------------------------
h1{
  margin-bottom: 48px;
}

h2{
  margin-bottom: 40px;
  line-height: 56px;

  // @include media-breakpoint-up(md){
  //   line-height: 56px;
  // }
}

h3{
    margin-bottom: 24px;
}

.h4{
  margin-bottom: 16px;
}

h5{
  margin-bottom: 16px;
}

// ----------------------------- Buttons -----------------------------
.btn{
    > i{
        margin-right: 8px;
        font-size: 24px;
        position: relative;
        top: 2px;
    }

    &-primary{
      color: map-get($theme-colors, secondary-500);

      &:active, &:focus-visible{
        color: map-get($theme-colors, secondary-500);
      }

      &:disabled{
        color: map-get($theme-colors, secondary-500);
      }
    }

    &-secondary{
      background: map-get($theme-colors, secondary-500);
      color: #fff;
      transition: background 0.3s ease-in-out;
      border: none;

      &:hover{
        background: map-get($theme-colors, secondary-400);
      }
    }

    &-secondary-line{
      background: none;
      border: 2px solid map-get($theme-colors, secondary-500);
      color: map-get($theme-colors, secondary-500);

      &:hover{
        border: 2px solid map-get($theme-colors, secondary-500);
      }
    }

    &-white-line{
      background: none;
      border: 2px solid #fff;
      color: #fff;

      &:hover{
        border: 2px solid #fff;
      }
    }
  }

// ----------------------------- Lists -----------------------------
.list-no-style{
    list-style-type: none;
    padding: 0;
    margin: 0;

    li{
        padding: 0;

        &:before{
            display: none;
        }
    }
}

.list-normal{
    list-style: none;
    padding: 0;
    margin: 0;

    li{
        padding-left: 24px;
        position: relative;

        &:before{
        content: "";
        width: 8px;
        height: 8px;
        background: #E24400;
        border-radius: 100%;
        display: block;
        position: absolute;
        left: 4px;
        top: 8px;
        }
    }
}

.list-style-check{
  list-style: none;
  padding: 0;
  margin: 0;

  li{
    font-size: 20px;
    color: #000;
    margin-bottom: 24px;
    position: relative;
    padding-left: 56px;

    &:before{
      content: "";
      background-image: url("./../images/icon-check.svg");
      width: 36px;
      height: 36px;
      margin-right: 24px;
      display: inline-block;
      position: absolute;
      top: -2px;
      left: 0;
    }
  }
}

.list-services{
  list-style: none;
  padding: 0;
  margin: 0 0 40px;

  li{
    padding: 16px 20px;
    box-shadow: 0 4px 32px rgba(0,0,0,0.08);
    font-weight: 600;
    border-radius: 4px;
    margin-bottom: 24px;
    color: #000000;
    width: 100%;
    display: flex;
    align-items: flex-start;

    img{
      margin-right: 12px;
    }
  }

  .highlighted{
    background: map-get($theme-colors, secondary-500);
    color: #fff;
  }
}

// ----------------------------- Links -----------------------------
.link-normal{
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: map-get($theme-colors, secondary-500);
  transition: all 0.2s ease-in-out;

  &:hover{
    opacity: 0.7;
  }

  &:after{
    content: "";
    background: map-get($theme-colors, secondary-500);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: -4px;
    left: 0;
  }

  img{
    margin-left: 8px;
    position: relative;
    top: -2px;
  }
}

.link-normal-lg{
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: map-get($theme-colors, secondary-500);
  transition: all 0.2s ease-in-out;
  font-size: 20px;
  line-height: 36px;

  &:hover{
    opacity: 0.7;
  }

  &:after{
    content: "";
    background: map-get($theme-colors, secondary-500);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: -8px;
    left: 0;
  }

  img{
    margin-left: 12px;
    position: relative;
    top: -2px;
  }
}


// ----------------------------- Backgrounds shapes -----------------------------
.bg-newsletter{
  background-image: url("./../images/bg-newsletter.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

// ----------------------------- Inputs, select -----------------------------
.form-control-white{
  background: white;
  color: #000000;
  border: none;

  &:focus{
    background: #fff;
    color: #000;
  }
}

// ----------------------------- Other -----------------------------
.nav-footer-header{
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 32px;
  color: #000;
}